In [1]:
class parent :
    def__init__(self,name):
        print('parent__init__',name)
class child(parent):
    def__init__(self):
        print('child__init__')
        super().__init__('max')
child = child()
print(child.__mro )

SyntaxError: invalid syntax (<ipython-input-1-2818641fce44>, line 2)

In [1]:
print('hello world')

hello world

In [2]:
num1 =8
num2 =5
print(num1*num2)

40

In [5]:
 name =['roy','joy ']
print(name)

['roy', 'joy ']

In [6]:
name ="faizan"
print(name)

faizan

In [12]:
name =['ROY','JOY','TOM']
age =[20,23,24]
print(name,age)

['ROY', 'JOY', 'TOM'] [20, 23, 24]

In [11]:
name =['ROY','JOY','TOM']
name.append('harry')
print(name)

['ROY', 'JOY', 'TOM', 'harry']

In [1]:
A ={1,2,3}  
print(A)

{1, 2, 3}

In [19]:
y =5
print(type(y))

<class 'int'>

In [20]:
x=0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [2]:
x=0
if x%2==0 :
    print("EVEN NO")
else:
    print("ODD NO")

EVEN NO

In [30]:
name = "faizan"
print(name[:])

faizan

In [38]:
name =input("Enter your name")
age =input("Enter your age")
print(name)
print(age)

Enter your namefaizan
Enter your age23
faizan
23

In [40]:
name ="faizan"
print(name.upper)

<built-in method upper of str object at 0x0000029985F3E618>

In [41]:
import math
print(math.pi)

3.141592653589793

In [44]:
name =input("enter a name")
if name =="tom":
    print("the name  entered is",name)
elif name =="joy":
    print("The name  enterd is",name)
else:
    print("the name is valid")

enter a nameFAIZAN
the name is valid

In [47]:
x="hello"
print(x.upper())

HELLO

In [54]:
fo=open("cas.txt","w+")
fo.write("sAMPLE")
str=fo.read(10)
print(str)
#print(fo.read(10))
fo.close()


print((builtins))

In [1]:
print("I' m going to inject %s here." %'something')

I' m going to inject something here.

In [6]:
# you can pass multiple items by placing them inside a tuple after the %s operator

x,y ='some','more'
print("I' m going to inject %s text here ,and %s text here."%(x,y))
x,y ='some','more'
print("I' m going to inject %s text here ,and %s text here."%(y,x))

I' m going to inject some text here ,and more text here.
I' m going to inject more text here ,and some text here.

# Format conversion methods

In [9]:
print('He said name was %s.' %'fred')
print('He said name was %r.'%'fred') # raw string  basically raw string do not

He said name was fred.
He said name was 'fred'.

In [10]:
print('I once caught a fish %s.'%'this \tbig')
print('I once caught a fish %s.'%'this \tbig')

I once caught a fish this 	big.
I once caught a fish this 	big.

In [11]:
print('I wrote %s programs today.'%3.75)
print('I wrote %d programs today.'%3.75)

I wrote 3.75 programs today.
I wrote 3 programs today.

In [13]:
print('Floating point numbers :%5.2f'%(13.144))

Floating point numbers :13.14

In [14]:
print('Floating point numbers :%1.2f'%(13.144))

Floating point numbers :13.14

In [17]:
print('Floating point numbers :%1.3f'%(13.144))

Floating point numbers :13.144

In [19]:
print('Floating point numbers :%1.4f'%(13.144))

Floating point numbers :13.1440

In [21]:
print('Floating point numbers :%1f'%(13.144))

Floating point numbers :13.144000

In [25]:
print('Floating point numbers :%f50' %13.144)

Floating point numbers :13.14400050

In [32]:
print('Floating point numbers :%-10.20f'%13.144)

Floating point numbers :13.14400000000000012790

In [30]:
print('Floating point numbers :%-10.2f''hello'%13.144)

Floating point numbers :13.14     hello

# https://docs.python.org/3/libraray/studies.html

In [33]:
print('This is a string with an {}'.format('insert'))

This is a string with an insert

# The .format method has several advantages over the %s placeholder method:

In [35]:
#1 inserted objects can be called by index position :
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [36]:
#2 inserted objects can be assigns keywords :
print('First object:{a}, Second object :{b},Third object :{c}'.format(a=1,b=2,c=3))

First object:1, Second object :2,Third object :3

In [37]:
# 3 Inserted objects can be  reused avoiding duplication :
print('A %s saved is a %s earned .'%('penny','penny'))
#vs.
print('A {p} saved is a {p} earned .'.format(p='penny'))

A penny saved is a penny earned .
A penny saved is a penny earned .

# ALIGNEMNT ,PADDING AND PRECISION WITH .FORMAT()

In [ ]:
within the curly braces you can assign field lengths ,left/right alignments,rounding parameters and more