In [2]:
print("my name is \tfaizan ahmad ")# this is  only user purpose

my name is 	faizan ahmad

In [3]:
print("\U0001F600")

ðŸ˜€

In [4]:
print(2/2)

1.0

In [5]:
print((2+3)*5%10**2)

25

In [6]:
first_name ="FAIZAN"
last_name ="AHMAD"
full_name =first_name +" "+ last_name
print(full_name +" "+"4" )# basically all characters inside  double invertd commas or known as strings
#this is only comments and interpreater is not read to comments part
print(2*3)

FAIZAN AHMAD 4
6

In [7]:
print(2*3)

6

In [8]:
 name =input("type  your name :" +" ")
 birth =input("what is your birth :")
 print("hello"+" " + name +" "+ "birth")

type  your name : faizan14021997
what is your birth :14021997
hello faizan14021997 birth

In [9]:
number1 =float("30")
number2 =int("10")
print(number1 + number2)

40.0

In [10]:
print("faizan")

faizan

In [11]:
name, age = "faizan",23
print("hello" +" "+ name +" "+ "your age is =23")

hello faizan your age is =23

In [14]:
print(3**2)

9

6

In [20]:
print("hello, {}. your age is {}.",format(name,age))#this is python3 use and string format

TypeError: format() argument 2 must be str, not int

In [19]:
#python3.6 string format
print(f"hello (FAIZAN AHMAD) your age is (23+2)")

hello (FAIZAN AHMAD) your age is (23+2)

In [27]:


print("Sammy is a {}, {}, and {} {}!".format("happy", "smiling", "blue", "shark"))

Sammy is a happy, smiling, and blue shark!

In [42]:
print("hello {},  name  {}, age"format("faizan","23"))#python3 syntax string format

SyntaxError: invalid syntax (<ipython-input-42-46d61a20fcd6>, line 1)

In [43]:
name = "FAIZAN AHMAD"      #python3.6 syntax string format
age  =23
print(f"hello,{name},{ age }")

hello,FAIZAN AHMAD,23

In [3]:
lang ="python"    #badsically lang key if  one or more character value print
print(lang[0:6])  #index base working

python

In [4]:
 lang ="FAIZAN"#lang [:] this symbol basically full string value print
 print(lang[:])

FAIZAN

In [3]:
rand.rand range (0,101,10)

SyntaxError: invalid syntax (<ipython-input-3-7eb69b9e2e0a>, line 1)

In [6]:
import math
math.pi

3.141592653589793

In [9]:
print("hello faizan ahmad")

hello faizan ahmad

In [10]:
math.e

2.718281828459045

In [11]:
math.pi

3.141592653589793

In [1]:
import math
print(math.e)

2.718281828459045

In [2]:
age =[24,11,23,24]
print(age)

[24, 11, 23, 24]

In [8]:
name =['roy','joy','tom']
print(name[1])

joy

In [10]:
name ="FAIZAN"
print(name[0:7])

FAIZAN