<a href="https://colab.research.google.com/github/faizan1402/pythontraining/blob/master/full_basic_python__1ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
"hello"

'hello'

In [ ]:
2==2

True

In [ ]:
2<1

False

In [ ]:
3!=2

True

In [ ]:
3!=3

False

In [ ]:
a = [1,2,3,4]
a

[1, 2, 3, 4]

In [ ]:
import keyword
#total keyword ->33 keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
print(2,3,4,"+","%")

2 3 4 + %

In [ ]:
n = input("Enter a number:")
print("The Number is ",n)

Enter a number:5
The Number is  5

In [ ]:
import math
math.pi

3.141592653589793

In [ ]:
#bitwise operators
a=60
b=2
print(a&b)
print(a|b)
print(a^b)
print(a>>b)#binary right shift
print(a<<b)#binary left shift

0
62
62
15
240

In [ ]:
a =2
b=2
c=2
print(a>=b)and(b<=c)

True

In [ ]:
a =2
b=2
c=2
print(a>=b)and(b<=c)

True

In [ ]:
# Membership Operators
s='abcde'
print('a' in s)
print('f'in s)

True
False

In [ ]:
# Operator precedence

b = [2,3,4,5]
for i in b:
  print(b)

[2, 3, 4, 5]
[2, 3, 4, 5]
[2, 3, 4, 5]
[2, 3, 4, 5]

In [ ]:
print("good one")

good one

In [ ]:
c= 2
a = 2.5
b = True
b

True

In [ ]:
d = None
d

In [ ]:
#Printing the variables name
print(type(b))

<class 'bool'>

In [ ]:
print(type(d))
print(type(a))
print(type(c))

<class 'NoneType'>
<class 'float'>
<class 'int'>

In [ ]:
#before variable number digit can not start
b_2 = 4

#**Four Operators in python**

In [ ]:
# Arithmetic Operators => +,-*,/ etc
# Assigment Operators => =,+=,-= etc
# Comparision Operators => ==,>,>=,<,!= etc
# Logical Operators => and,or,not

print("The value of 3+4 is ",3+4 )
print("The value of 3-4 is",3-4)

The value of 3+4 is  7
The value of 3-4 is -1

In [ ]:
# Assignment Operators
a = 34
a -=12
a /=12
print(a)

1.8333333333333333

In [ ]:
#Comparision Operators
b = (4>7)
print(b)
c = (3>2)
d = (3==3)
e = (3>=4)
f = (14!=7)
print(c)
print(d)
print(e)
print(f)

False
True
True
False
True

In [ ]:
# Logical Operators
bool1 = True
bool2 = False
print("The value of bool1 and bool2 is",(bool1 and bool2))
print("The value of bool1 and bool2 is",(bool1 or bool2))
print("The value of not bool2 is",(not bool2 ))

The value of bool1 and bool2 is False
The value of bool1 and bool2 is True
The value of not bool2 is True

In [ ]:
# Typecasting means one data type to another data type
#int to string => conversion

a = "3534"
a = int(a)
print(type(a))
print(a +5)

<class 'int'>
3539

In [ ]:
#Input Function
b = input("Enter Your Name")
print(b)

Enter Your NameFaizan Ahmad
Faizan Ahmad

In [ ]:
a=45
b=15
print("The remainder when a is divided by b is",a%b)

The remainder when a is divided by b is 0

In [ ]:
a = input("Enter First Number:")
b = input("Enter Second Number: ")
a = int(a)
b = int(b)
avg = (a+b)/2
print("The average of a and b is",avg)

Enter First Number:2
Enter Second Number: 3
The average of a and b is 2.5

In [ ]:
b = "Hello"
print(b)
c = '''Hello'''
print(c)
#Add String
greeting = "Good Morning"
name = "Harry"
# Concatinate two strings
print(greeting + " " + name)
# name[start index :int_end index]

print(name[1:4])
print(name[:4])# is same as name [0:4]
print(name[1:])# is same as name [1:5]
print(name[0:5])
print(name[:5])
print(name[0:])

Hello
Hello
Good Morning Harry
Harry
Harry
Harry

In [ ]:
''' Negative index is
name = h a r r y  => length =5
       0 1 2 3 4
      -5 -4 -3 -2 -1  => This is negative index

'''
c = name[-4:-1]# is same as name[1:4]
print(c)

arr

In [ ]:
#Slicing With Skipp Value
d = name[0:5:1]
print(d)
d = name[0:5:2] # every times one character skipp value print
print(d)
story = "Once upon a time there was a youtuber named harry who uploaded python course woth notes"
print(story[0:6])
#Print Length of string
print(len(story))
# check last string true or false
print(story.endswith("notes"))
print(story.endswith("harry"))#because last string is not harry
# Count function
print(story.count('a'))
print(story.count("once"))

Harry
Hry
Once u
87
True
False
6
0

In [ ]:
print(story.capitalize())
print(story.find("harry"))

Once upon a time there was a youtuber named harry who uploaded python course woth notes
44

In [ ]:
print(story.replace("harry","CodeWithHarry"))

Once upon a time there was a youtuber named CodeWithHarry who uploaded python course woth notes

In [ ]:
#Escape Sequence Character:
letter = '''Dear <|NAME|>,Greetingd from ABC coding house.I'm happy to tell you about your
you are selected!
Have a great day ahead!
Thanks and regards,
Billo
Date :<|DATE|>
'''
name = input("Enter Your Name\n")
date = input("Enter Date\n")
letter = letter.replace("<|NAME|>",name)
letter = letter.replace("|DATE|>",date)
print(letter)

Enter Your Name
harry
Enter Date
01/01/1997
Dear harry,Greetingd from ABC coding house.I'm happy to tell you about your
you are selected!
Have a great day ahead!
Thanks and regards,
Billo
Date :<01/01/1997

In [ ]:
#List
friends = ["Harry","Tom","Rohan","Sam","Divya",45]
print(friends[0:4])
print(friends[-4:])# startm with -4 index means Rohan starting and end upto 45

['Harry', 'Tom', 'Rohan', 'Sam']
['Rohan', 'Sam', 'Divya', 45]

In [ ]:
l1 = [1,8,7,2,15]
l1.sort()
print(l1)

[1, 2, 7, 8, 15]

In [ ]:
l1_sorted = l1.sort()
print(l1_sorted)#means l1.sort store l1_sorted another sorted function

None

In [ ]:
l1.reverse()
print(l1)

[15, 8, 7, 2, 1]

In [ ]:
#l1.append() method
#print(l1)
l1.append(22)
print(l1)

[15, 8, 7, 2, 1, 22]

In [ ]:
#Insert method
l1.insert(1,25)# means index 1 value added the 25
print(l1)

[15, 25, 8, 7, 2, 1, 22]

In [ ]:
fruits = ["Mango","Grapes","Apple","Fig"]
fruits.sort()
fruits

['Apple', 'Fig', 'Grapes', 'Mango']

In [ ]:
print(fruits[0]+fruits[1]+fruits[2]+fruits[3])

AppleFigGrapesMango

In [ ]:
a = [2,3,4]
print(a[0]+a[1]+a[2])

9

In [73]:
#Touple does not change the item values
t1 = (1,2,3,4)
#Printing the elements of tuple
print(t[0])
#Cannot update the values of a tuple
#t[0] =32

1

In [ ]:
#t1 = () Empty tuple
#t1 = (1)#worong way to declare a tuple with single element (tuple with only one element needs a comma)
#t1 = (1,)# tuple with single element 
#t1 = (1,2,4) touple with more than one element
#But touple value can not changes 
#same method in touple

In [75]:
t1.count(2)

1

In [77]:
t1.index(2)#so 2 number is index 1 is showing

1

In [87]:
m1 = int(input("Enter Marks for Student Number 1: "))
m2 = int(input("Enter Marks for Student Number 2:"))
m3 = int(input("Enter Marks for Student Number 3: "))
m4 = int(input("Enter Marks for Student Number 4: "))
m5 = int(input("Enter Marks for Student Number 5: "))
mylist = [m1,m2,m3,m4,m5]
mylist.sort()
print(mylist)

Enter Marks for Student Number 1: 9
Enter Marks for Student Number 2:8
Enter Marks for Student Number 3: 7
Enter Marks for Student Number 4: 5
Enter Marks for Student Number 5: 1
[1, 5, 7, 8, 9]

In [100]:
# Dictionary ->key:value
#dictonary is immutable value are changes
#key is changes but replaces the key previous key value not printed only replaces the key 
mydict = {
    "Fast":"In a Quick Manner",
     "Harry":"A Coder",
     "Marks":[1,2,3],
     "dict":{'harry':'player'}
}
print(mydict['Fast'])
print(mydict['Harry'])
print(mydict['Marks'])
print(mydict['dict'])
print(mydict['dict']['harry'])#harry is key and value is player

In a Quick Manner
A Coder
[1, 2, 3]
{'harry': 'player'}
player

In [103]:
#print the all keys
print(mydict.keys())
#Also print the values
print(mydict.values())

dict_keys(['Fast', 'Harry', 'Marks', 'dict'])
dict_values(['In a Quick Manner', 'A Coder', [1, 2, 3], {'harry': 'player'}])

In [104]:
print(list(mydict.keys()))
print(list(mydict.values()))

['Fast', 'Harry', 'Marks', 'dict']
['In a Quick Manner', 'A Coder', [1, 2, 3], {'harry': 'player'}]

In [109]:
print(mydict)
#Add a new dictionary
updatedict = {
    "Lovish":"Friend",
    "Hello" :"Friend",
    "Harry" : "Dancer"# every Harry name updated the Dancer
}
mydict.update(updatedict)#updates the dictornary by adding key-value pair  from updatedict
print(mydict)

{'Fast': 'In a Quick Manner', 'Harry': 'A Coder', 'Marks': [1, 2, 3], 'dict': {'harry': 'player'}, 'Lovish': 'Friend', 'Hello': 'Friend'}
{'Fast': 'In a Quick Manner', 'Harry': 'Dancer', 'Marks': [1, 2, 3], 'dict': {'harry': 'player'}, 'Lovish': 'Friend', 'Hello': 'Friend'}

In [111]:
# The difference between .get and [] syntax in dictionaries ?
#print(mydict.get("harry"))# Prints value associated with key harry
#print(mydict.get["harry"])# Prints value associated with key harry
#print(mydict.get("harry2"))# Returns None as harry2 is not present in the dictionary
#print(mydict["harry2"])# throws an error as harry2 is not present in the dictionary