In [15]:
import numpy as np
a=np.array([[1,2,3],[3,6,8]])
np.append(a,'a')

array(['1', '2', '3', '3', '6', '8', 'a'], dtype='<U11')

In [1]:
print("hey")

hey

In [18]:
import numpy as np
a=np.array([[1,2],[3,4],[5,6]])
print(a)

[[1 2]
 [3 4]
 [5 6]]

In [19]:
a=np.array([1,2])
print(a.dtype)

int32

In [23]:
 b=np.array([1,2],dtype= np.int64)
 print(b.dtype)

int64

In [25]:
import numpy as np
x=[6,8]
y=[2,3]
print(x+y)
print(np.add(x,y))

[6, 8, 2, 3]
[ 8 11]

In [44]:

# Python3 program to multiply all values in the 
# list using numpy.prod() 
  
import numpy  
list1 = [1, 2, 3]  
list2 = [3, 2, 4] 
  
# using numpy.prod() to get the multiplications  
result1 = numpy.prod(list1) 
result2 = numpy.prod(list2) 
print(result1) 
print(result2)

6
24

In [50]:
import pandas as pd

x=pd.DataFrame([1,2,3],[3,6,8])
print(x)

   0
3  1
6  2
8  3

In [2]:
#import the pandas library and aliasing as pd
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

In [3]:
#import the pandas library and aliasing as pd
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

In [4]:
import pandas as pd#basically pd is array of size define
import numpy as np 
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [7]:
#import the pandas library and aliasing as pd

import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print (s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [4]:
import math
print(math.e)

2.718281828459045

In [5]:
a=[1,2,3,4,5,6]
print(a)

[1, 2, 3, 4, 5, 6]

In [6]:
name=input("Enter a name")
print(name)

Enter a nameFAIZAN AHMAD
FAIZAN AHMAD

In [14]:
a=[1,2,3,4,5]
b={1,2,3,4,5}
c=(1,2)
print(a,b,c)

[1, 2, 3, 4, 5] {1, 2, 3, 4, 5} (1, 2)

In [12]:
count=1
while(count>5):
    print("FAIZAN AHMAD")
    count=count+1

In [13]:
count=1
while(count>5):
    print("FAIZAN AHMAD")
    count=count+1

In [15]:
print(2*3)

6

In [17]:
print(5%2)

1

In [19]:
3**2

9

In [22]:
print("HELLO" + " "+"FAIZAN AHMAD" + " " + " GOOD MORNING")

HELLO FAIZAN AHMAD  GOOD MORNING

In [26]:
a="HELLO"
a+"2" +" "+" "

'HELLO2  '

In [27]:
satyam:"hello world"

In [30]:
 'satyam :" hello world"'

'satyam :" hello world"'

In [37]:
" I'am here"

" I'am here"

# Typecasting: Typecasting mean's the data type trasnfer one form to other form

In [34]:
2+3.1

5.1

In [35]:
a=2+3.1
type(a)

float

In [36]:
int(a)

5

In [2]:
str('a')

'a'

In [4]:
type("a")

str

In [5]:
a=2
type(a)

int

In [6]:
type(2.0)#basically typecasting

float

# Range Function

In [10]:
#basically range function using for loop and pattern program 
for i in range(1,5):
   print(i);

1
2
3
4

In [13]:
num=int(input("Enter a row :"))
for i in range(1,num+1):
for j in range(1,i+1):
    print("*" end=" ")
    print( )

IndentationError: expected an indented block (<ipython-input-13-0b1d4dfff841>, line 3)

In [20]:
print("hello",end=" ");print("hey");#end statement is space print

hello hey

In [28]:
num=int(input("Enter the no of rows :"))
for i in range(1,num+1):#basically python code when range suppose 1 to 5 then print the value only 1 to 4 so pattern when range
    #(1,6) then pattern print only 5 tak

  for i in range(1,i+1):
   print("A",end=" ")
  print()#this print basically out of for loop

Enter the no of rows :5
A
A A
A A A
A A A A
A A A A A

In [53]:
num = int(input("Enter the no of rows: "))
for i in range(1,num+1):#range (1 to 6 means the pattern print 5 tak )   
    for j in range(num-i): # 0, n-i,+1  range less times (1 to 5)then loop only 1to 4 drive because 2nd loop less time will drive  
        print("  ",end="") #print space only
    for j in range(2*i-1):#print *
        print("* ", end="")
    print()

Enter the no of rows: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

# ippythonyhton means interactive

In [2]:
%%writefile test.txt
Hello ,this is a quick test file.

Writing test.txt

In [1]:
%%bash
ls
pwd
whoami

03-Print Formatting with Strings (1).ipynb
03-Print Formatting with Strings.ipynb
04-Lists.ipynb
3D Objects
AppData
Application Data
Baic-Copy1.py.ipynb
Contacts
Cookies
Desktop
Documents
Downloads
Faizan.python
Favorites
HP
IntelGraphicsProfiles
Links
Local Settings
MicrosoftEdgeBackups
Music
My Documents
NTUSER.DAT
NTUSER.DAT{90861915-6b71-11e8-9d12-80ce6216316c}.TM.blf
NTUSER.DAT{90861915-6b71-11e8-9d12-80ce6216316c}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{90861915-6b71-11e8-9d12-80ce6216316c}.TMContainer00000000000000000002.regtrans-ms
NetHood
OneDrive
Pictures
PrintHood
PycharmProjects
Pythonprogramming.ipynb
Recent
Saved Games
Searches
SendTo
Start Menu
Templates
Untitled1.ipynb
Untitled2.ipynb
Untitled3.ipynb
Untitled4.ipynb
Videos
VirtualBox VMs
alsifa.py
cas.txt
faizan.py.ipynb
faizanahmad.py
irfan
irfan.txt
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
practice.py.ipynb
practice1.py.ipynb
practice2.py.ipynb
test.txt
untitled.txt
untitled1.txt
/c/Users/hp
laptop-vs21jfdt\hp

In [7]:
n=input('Enter a number')
n=int(n)
sum=1
for fact in range(n,0,-1):
      sum*=fact
print(sum)

Enter a number5
120

In [19]:
number=6
fact=1
for i in range(1,number+1):
    fact=fact*i
    print(i,":",fact)

1 : 1
2 : 2
3 : 6
4 : 24
5 : 120
6 : 720

In [22]:
number=6
fact=1
for i in range(number,0,-1):#step size
    fact=fact*i
    print(i,":",fact)

6 : 6
5 : 30
4 : 120
3 : 360
2 : 720
1 : 720

# RANGE

In [3]:
#range basically list return
list(range(0,11))#generator basically list of value occur inside list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
range(0,11)

range(0, 11)

In [6]:
tuple(range(0,11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [7]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [9]:
index_count=0
for i, letter in enumerate ('ABCD')
    print("At index{} the letter is {}".format(i,letter))

At index0 the letter is A
At index1 the letter is B
At index2 the letter is C
At index3 the letter is D

# ZIP

In [12]:
ylist1=[1,2,3,4,5] #zip basically  merge of list
mylist2=['a','b','c','d','e']
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [14]:
for item1,item2 in zip(mylist1,mylist2):
    print("")

In [68]:
for x in range(0,10,2):
    print("Even no")

Even no
Even no
Even no
Even no
Even no

In [62]:
list=[i for i in range(1,51) if i%3==0]

In [63]:
list

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [72]:
name="Even"
print(len(name))

4

In [79]:
st="print every word in this sentence that has an even number of length"
for i in st.split():#split function basically value break the different part
    if len(i)%2==0:
        print(i)
        print("Even")

word
Even
in
Even
this
Even
sentence
Even
that
Even
an
Even
even
Even
number
Even
of
Even
length
Even

In [2]:
x=0
while x<10:
    print("x is value",x)
    print("x is still","1 to 10")
    x+=1

x is value 0
x is still 1 to 10
x is value 1
x is still 1 to 10
x is value 2
x is still 1 to 10
x is value 3
x is still 1 to 10
x is value 4
x is still 1 to 10
x is value 5
x is still 1 to 10
x is value 6
x is still 1 to 10
x is value 7
x is still 1 to 10
x is value 8
x is still 1 to 10
x is value 9
x is still 1 to 10

In [10]:
list=[i for i in range(1,10)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
x=[a for a in range(2,12,2) if a%2==0]#List comprension -: basiclly list comprension means inside list value any function or loop   
print("Even no")#condition statement add inside list

Even no

In [47]:
for i in range(1,5):
    print("Faiz")
    break# Basically break function multiple loop seprate only single loop will execute

Faiz

In [60]:
a,b=3,2
a+=b
print("Sum of a is :",a)

Sum of a is : 5

In [62]:
a-=b
print("Difference of a is :",a)

Difference of a is : 1

In [65]:
a,b=2,3
a*=b
print("Multiply of a is :",a)

Multiply of a is : 6

In [70]:
a,b=6,3
a%=b
print("Modulus of a is :",a)

Modulus of a is : 0

In [86]:
a,b=3,2
a//=b
print("Floor devision of a is :",a)

Floor devision of a is : 1

In [84]:
a,b,c,d=2,1,4,3
print((a>b) and(c>d))
print((b>a)or(c>d))
print((a is not b))

True
True
True

# IDENTITY OPERATORS

In [85]:
a,b,c=10,10,5
print(a is b)#Basically is an operator Evaluates to true if the variables on eithe side of the operator point to the same object and false otherwise
print(a is c)#Not a same value of the point 
print(a is not b)#is not is an operator Evaluates  to false if the varaibles on either side of the operator point  to the same object and true otherwise

True
False
False

In [1]:
#function basically inside object
#Method basically after dot us(a.append basically method)

In [33]:
def is_prime(num):
    for n in range(2,num):
        if num%n==0:
            print(num,'is not prime')
            break
    else:
        print(num,'is prime')

# PRACTICE

In [29]:
def lesser_of_two_events(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [34]:
lesser_of_two_events(2,4)

2

In [51]:
def animal_crackers(text):#function defition
    
    if lst[0][0]==lst[0][1]:
        return True
    else:
        return False

In [2]:
lst=["harry","potter"]
animal_crackers(lst)

NameError: name 'animal_crackers' is not defined

# Lambda Expression
#Map function

In [9]:
def square(num):
    return num**2

In [10]:
my_nums=[1,2,3,4,5]

In [11]:
map(square,my_nums)#map() function returns a list of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [12]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [24]:
def addition(n):
     return n+n
numbers=(1,2,3,4)
result=map(addition,numbers)
print(list(result))

[2, 4, 6, 8]

In [22]:
 # Python program to demonstrate working 
# of map. 

# Return double of n 
def addition(n): 
	return n + n 

# We double all numbers using map() 
numbers = (1, 2, 3, 4) 
result = map(addition, numbers) 
print(list(result))

[2, 4, 6, 8]

In [21]:
# Add two lists using map and lambda 

numbers1 = [1, 2, 3] 
numbers2 = [4, 5, 6] 

result = map(lambda x, y: x + y, numbers1, numbers2) 
print(list(result))

[5, 7, 9]

In [4]:
list1=[1, 2, 3] 
list2=[4,5,6]

In [25]:
# Double all numbers using map and lambda 

numbers = (1, 2, 3, 4) 
result = map(lambda x: x + x, numbers) 
print(list(result))

[2, 4, 6, 8]

In [29]:
#suppose we want  two list add and net result find
list1=[1,2,3,4]
list2=[2,3,4,5]
result=map(lambda x,y : x+y,list1,list2)#Basically lambda function is very easy to run and some code skip and do not use function without function
print(list(result))

[3, 5, 7, 9]

In [37]:
def add (list,list):
    return list1+list2
list1=[1,2,3,4]
list2=[2,3,4,5]
result=map(add,list1+list2)
print(result)

SyntaxError: duplicate argument 'list' in function definition (<ipython-input-37-8fbc2bd4d911>, line 1)

In [3]:
# List of strings 
l = ['sat', 'bat', 'cat', 'mat'] 

# map() can listify the list of strings individually 
result = list(map(list,l)) #Map function basically return list value and outerside value is again list
print(result)#

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

# FILTER FUNCTION

In [4]:
# function that filters vowels 
def fun(variable): 
	letters = ['a', 'e', 'i', 'o', 'u'] 
	if (variable in letters): 
		return True
	else: 
		return False


# sequence 
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r'] 

# using filter function 
filtered = filter(fun, sequence) 

print('The filtered letters are:') 
for s in filtered: 
	print(s)

The filtered letters are:
e
e

In [5]:
#Filter function are use boolian expression check formate either value true or false

In [24]:
def check_even(n):
    n%2==0

In [25]:
num=[1,2,3,4,5,6,7,8,9,10,11,12]
filter(check_even,num)

In [26]:
list(filter(check_even,num))

# OOP

In [8]:
class Dog:
    species='mammal'
    def __init__(self,breed,name):
        self.breed=breed
        self.name=name

In [10]:
sam= Dog('lab','sam')#self key basically direct interact object

In [11]:
sam.name

'sam'

In [12]:
sam.breed

'lab'

In [27]:
class Circle:#init function basically direct object inside value insert
    pi=3.14
    def __init__(self,radius=1):
        self.radius=radius
        self.area=radius*radius*circle.pi
        
    def setRadius(self,new_radius):
            self.radius=new_radius
            self.area=new_radius*new_radius*self.pi
            
    def circumference(self):
            return self.radius*self.pi*2
        
c= Circle()

print('Radius is:',c.radius)
print('Area is:',c.area)
print('circumference is:',c.circumference())

Radius is: 1
Area is: 3.14
circumference is: 6.28

In [ ]:
c.set