In [11]:
print('hello world')

hello world

In [12]:
num1 =8
num2 =5
print(num1*num2)

40

In [13]:
 name =['roy','joy ']
print(name)

['roy', 'joy ']

In [14]:
name ="faizan"
print(name)

faizan

In [15]:
name =['ROY','JOY','TOM']
age =[20,23,24]
print(name,age)

['ROY', 'JOY', 'TOM'] [20, 23, 24]

In [16]:
name =['ROY','JOY','TOM']
name.append('harry')
print(name)

['ROY', 'JOY', 'TOM', 'harry']

In [17]:
A ={1,2,3}  
print(A)

{1, 2, 3}

In [18]:
y =5
print(type(y))

<class 'int'>

In [19]:
x=0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [20]:
x=0
if x%2==0 :
    print("EVEN NO")
else:
    print("ODD NO")

EVEN NO

In [21]:
name = "faizan"
print(name[:])

faizan

In [22]:
name =input("Enter your name")
age =input("Enter your age")
print(name)
print(age)

Enter your namefaiz
Enter your age22
faiz
22

In [24]:
name ="faizan"
print(name.upper)

<built-in method upper of str object at 0x00000213277B6030>

In [25]:
import math
print(math.pi)

3.141592653589793

In [26]:
name =input("enter a name")
if name =="tom":
    print("the name  entered is",name)
elif name =="joy":
    print("The name  enterd is",name)
else:
    print("the name is valid")

enter a namejoy
The name  enterd is joy

In [27]:
x="hello"
print(x.upper())

HELLO

In [28]:
fo=open("cas.txt","w+")
fo.write("sAMPLE")
str=fo.read(10)
print(str)
#print(fo.read(10))
fo.close()


print((builtins))

In [29]:
print("I' m going to inject %s here." %'something')

I' m going to inject something here.

In [30]:
# you can pass multiple items by placing them inside a tuple after the %s operator

x,y ='some','more'
print("I' m going to inject %s text here ,and %s text here."%(x,y))
x,y ='some','more'
print("I' m going to inject %s text here ,and %s text here."%(y,x))

I' m going to inject some text here ,and more text here.
I' m going to inject more text here ,and some text here.

# Format conversion methods

In [31]:
print('He said name was %s.' %'fred')
print('He said name was %r.'%'fred') #  (r)raw string  basically raw string do not show any diffinition value will always same either 
#string or other data type

He said name was fred.
He said name was 'fred'.

In [32]:
print('I once caught a fish %s.'%'this \tbig')
print('I once caught a fish %s.'%'this \tbig')

I once caught a fish this 	big.
I once caught a fish this 	big.

# print('I wrote %s programs today.'%3.75 )
print('I wrote %d programs today.'%3.75)

# MULTIPLE FLOATING VALUE PRINT
print('Floating point numbers :%5.2f'%(13.144))

In [33]:
print('Floating point numbers :%1.2f'%(13.144))

Floating point numbers :13.14

In [34]:
print('Floating point numbers :%1.3f'%(13.144))

Floating point numbers :13.144

In [35]:
print('Floating point numbers :%1.4f'%(13.144))

Floating point numbers :13.1440

In [36]:
print('Floating point numbers :%1f'%(13.144))

Floating point numbers :13.144000

In [37]:
print('Floating point numbers :%f50' %13.144)

Floating point numbers :13.14400050

In [38]:
print('Floating point numbers :%-10.20f'%13.144)

Floating point numbers :13.14400000000000012790

In [39]:
print('Floating point numbers :%-10.2f''hello'%13.144) #out put value seperate because decimal value negative value
print('Floating point numbers :%1.3f' 'HEY' %14.155)# not any space b/w hey

Floating point numbers :13.14     hello
Floating point numbers :14.155HEY

# https://docs.python.org/3/libraray/studies.html

In [40]:
print('This is a string with an {}'.format('insert'))

This is a string with an insert

# The .format method has several advantages over the %s placeholder method:

In [41]:
#1 inserted objects can be called by index position :
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [42]:
#2 inserted objects can be assigns keywords :
print('First object:{a}, Second object :{b},Third object :{c}'.format(a=1,b=2,c=3))

First object:1, Second object :2,Third object :3

In [43]:
# 3 Inserted objects can be  reused avoiding duplication :
print('A %s saved is a %s earned .'%('penny','penny'))
#vs.
print('A {p} saved is a {p} earned .'.format(p='penny'))

A penny saved is a penny earned .
A penny saved is a penny earned .

# ALIGNEMNT ,PADDING AND PRECISION WITH .FORMAT()

In [44]:
#within the curly braces you can assign field lengths ,left/right alignments,rounding parameters and more
import math
print(math.e)

2.718281828459045

In [45]:
#10.7
#13.1444000 total 10 character
print('Floating point numbers : %10.3f'%20.20)

Floating point numbers :     20.200

In [46]:
print('{0:8}|{1:9}'.format('fruit','Quantity')) #Because out put apropriate space print because some space
print('{0:8}|{1:9}'.format('Apples',3.))
print('{0:8}|{1:9}'.format('Oranges',10))

fruit   |Quantity
Apples  |      3.0
Oranges |       10

In [47]:
print('{0:<8}  |{1:^8} | {2:>8}'.format('Left','center','right'))
print('{0:<8} |{1:^8} | {2:>8}'.format(11,22,33))

Left      | center  |    right
11       |   22    |       33

In [48]:
name ='fred\tjjj'

print(f"He is said his name is {name}.")

He is said his name is fred	jjj.

In [49]:
print(f" He is said his name is {name!r}.")#rawstring

 He is said his name is 'fred\tjjj'.

In [50]:
num =23.45678
print("My 10 character,four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character,four decimal number is:{num:10.4f}")

My 10 character,four decimal number is:   23.4568
My 10 character,four decimal number is:   23.4568

# LIST

In [51]:
name=["harrry","tom","john","sam",1,2,3,4,5,]
print(name)

['harrry', 'tom', 'john', 'sam', 1, 2, 3, 4, 5]

In [52]:
print(name[1:2])#initial index to

['tom']

In [53]:
print(name[::]) #This means starting to ending list value print

['harrry', 'tom', 'john', 'sam', 1, 2, 3, 4, 5]

In [54]:
print(name[::5]) #Because maximum 4 index present inside name list

['harrry', 2]

In [55]:
print(name[2:4:6])

['john']

In [56]:
print(name[1:2:7])

['tom']

In [77]:
#Negative indexing [1,2,3,4,5,6,7,8,9,10],total=9 index but negative index[-1] will start
list=['one','two','three',4,5,6,7,8,9,10]
list[-1:-2]

[]

In [58]:
list[-5::]

[6, 7, 8, 9, 10]

In [59]:
list[-5:-7]

[]

In [60]:
list[-5::-1]#-5 index is included and -1 index excluded

[6, 5, 4, 'three', 'two', 'one']

In [61]:
list+['New item']

['one', 'two', 'three', 4, 5, 6, 7, 8, 9, 10, 'New item']

In [62]:
list *2

['one',
 'two',
 'three',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 'one',
 'two',
 'three',
 4,
 5,
 6,
 7,
 8,
 9,
 10]

In [63]:

list[0:-2:2]

['one', 'three', 5, 7]

In [64]:
list[0:-2:-2]

[]

In [65]:
list=['one','two','three','4','5','6','7','8','9','10']
list.append('harry')
list

['one', 'two', 'three', '4', '5', '6', '7', '8', '9', '10', 'harry']

In [69]:
list.pop()
list

['one', 'two', 'three', '4', '5', '6', '7', '8', '9', '10']

In [ ]:
#list.sort()#ASCII concept because list of ASCII value decrease then value decrese

In [70]:
#python backend use quick sort
list=['one','two','three','4','5','6','7','8','9','10']
list.insert(-2,"JOy")#Using concept insert
list

['one', 'two', 'three', '4', '5', '6', '7', '8', 'JOy', '9', '10']

# NESTING LIST

In [10]:
list_1=[1,2,3]
list_2=[4,5,6]
list_3=[7,8,9]
matrix=[list_1,list_2,list_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
list_1=[1,2,3]
list_2=[4,5,6]
list_3=[7,8,9]
matrix=[list_1,list_2,list_3]
matrix[2]

[7, 8, 9]

In [ ]:
matrix[0][1]# matrix of  zero index and multiply same index of number multiply

In [7]:
list_1=[1,2,3]
list_2=[4,5,6]
list_3=[7,8,9]
matrix=[list_1,list_2,list_3]
matrix[1][0]

4

# DICTIONARY

In [72]:
name={"python":'value1',"DS":'value2',"Data base":'value3'}#because python case sensetive langauge so
name["DS"]

'value2'

In [73]:
d={'key':1,'key2':2,'key3':3}
d['key2']

2

In [75]:
x={1,2,3,4,5}
x

{1, 2, 3, 4, 5}

In [79]:
list=['one','two','three',4,5,6,7,8,9,10]
list[-1:-3]

[]

In [80]:
x=[1,2,3,4,5]
x[-1]

5

In [82]:
x[1:]

[2, 3, 4, 5]

In [84]:
x[-2:]#4 is -2 index and :is 5 index

[4, 5]

In [86]:
a=[1,2,3,4,5]#0to 4value print
x=slice(0,5)
a[x]

[1, 2, 3, 4, 5]

In [89]:
a=(0,1,2,3,4,5,6,7,8,9,)
a[0:9:2]

(0, 2, 4, 6, 8)

In [90]:
a[0:9:3]

(0, 3, 6)

In [92]:
a[0:9:4]#[start:end:step]so step means multiple of 4

(0, 4, 8)

In [93]:
a[:]# whole string of the copy

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [96]:
a[:9]#rest of the index upto last index

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [95]:
a[0:]# start index zero and rest of the array

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [97]:
a[::4]

(0, 4, 8)

In [99]:
a[::-1]#All the numbers in the reverse index

(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [100]:
a[1::-1]#one index and

(1, 0)

In [122]:
a=(0,1,2,3,4,5,6,7,8,9)
a[:-3:-1]

(9, 8)

In [103]:
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [123]:
a=(0,1,2,3,4,5,6,7,8,9)#multiple of 3
a[:9:3]

(0, 3, 6)

In [125]:
a[0:9:4]

(0, 4, 8)

In [128]:
#positive index 0,1,2,3,4,5,6,7 left to right
#negative index -7,-6,-5,-4,-3,-2,-1 right to left
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [129]:
a[-1]

9

In [130]:
a[-2]

8

In [131]:
a[1::-1]#starting index:end index:step

(1, 0)

In [133]:
a[:-3:-1] #end index -3 so value only -2 tak count

(9, 8)

In [134]:
a[-3::-1]#Because starting index -3 start upto :rest of index

(7, 6, 5, 4, 3, 2, 1, 0)

# TUPLES

In [13]:
t=(1,2,4)
t=t+t
print(t)

(1, 2, 4, 1, 2, 4)

In [14]:
#(do not define two tuples in string t=t*2)

# SETS

In [9]:
x=set()
x.add(1)
x

{1}

In [10]:
list1=[1,2,2,3,4,4,5,6]
set(list1)

{1, 2, 3, 4, 5, 6}

In [11]:
list2=["harry","harry","sam","sam"]
set(list2)

{'harry', 'sam'}

# BOOLIANS

In [12]:
a=1
b=2
a>b

False

In [15]:
b=None
print(b)

None

#  CONDITION LOOP

In [2]:
if True:
    print("it was true")

it was true

In [3]:
x=False
if x:
    print('x was true !')
else:
    print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

In [4]:
loc='bank'
if loc=='Auto shop':
    print('Welcome to the Auto shop!')
elif loc=='Bank':
    print('Welcome to the Bank!')
else:
    print('I will printed to the bank')

I will printed to the bank

In [6]:
person='Sammy'
if person=='Sammy':
    print('Welcome Sammy!')
else:
    print('Your name !')

Welcome Sammy!

In [10]:

if 2>1:
    print('true')
if 1>0:
    print('true')

true
true

# FOR LOOP

In [11]:
#python basically dynamic declare
# rangefunction basically list return 
#step size basically one step skip and next value print using slicing
#iterator means basically access

In [13]:
for i in range(1,8,2):
    print(i)

1
3
5
7

In [17]:
a=[1,2,3,4]
for i in range (len(a)):
    print(a[i])

1
2
3
4

In [18]:
a=[7,3,2,4]
for i in a:
    print(i)#return list

7
3
2
4

In [3]:
list1=[1,2,3,4,5,6,7,8,9,10]
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [9]:
for num in list1:
    if num %2 ==0:
        print(num)

2
4
6
8
10

In [10]:
for num in list1:
    if num%2==0:
        print("Even no")
    else:
        print("Odd no")

Odd no
Even no
Odd no
Even no
Odd no
Even no
Odd no
Even no
Odd no
Even no

In [15]:
list_sum=0
for num in list1:
    list_sum=list_sum+num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [31]:
list_sum=0
for num in list1:
    list_sum=list_sum+num
print(list_sum)

55

In [19]:
tup=(1,2,3,4,5)
for t in tup:
    print(t)

1
2
3
4
5

In [28]:
list_2=[(2,4),(6,8),(10,12)]
for tup in list_2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [26]:
for (t1,t2)in list_2:
    print(t1)

2
6
10

In [34]:
d={'k1':'1','k2':'2','k3':'3'}
for item in d:
    print(item)

k1
k2
k3

In [ ]:
d.items
dict_items
for k,v in items:
    pr