#  Python3 code to demonstrate  
# Filling alphabets 
# using naive method 
  
# initializing empty list  
test_list = [] 
  
# printing initial list  
print ("Initial list : " + str(test_list)) 
  
# using naive method 
# for filling alphabets 
alpha = 'a'
for i in range(0, 26): 
    test_list.append(alpha) 
    alpha = chr(ord(alpha) + 1)  
  
# printing resultant list  
print ("List after insertion : " + str(test_list))

In [7]:
List_1=[1,2,3,4]
List_2=[2,3,4,5]
List_3=[5,6,7,8]
Matrix=(List_1,List_2,List_3)
Matrix

([1, 2, 3, 4], [2, 3, 4, 5], [5, 6, 7, 8])

In [8]:
Matrix[1]

[2, 3, 4, 5]

In [9]:
Matrix[0][0]

1

In [10]:
Matrix[1][1]

3

In [11]:
Matrix[2][2]

7

In [20]:
List_1=[1,2,3,4]
List_1.append(5)
List_1

[1, 2, 3, 4, 5]

In [26]:
x=[1,2,3,4]#Basically pop index wise pop
x.pop(2)

3

In [27]:
x.pop(0)

1

In [34]:
list=[1,2,3,4]#Bsically number wise remove
list.remove(2)
list

[1, 3, 4]

In [42]:
list=[5,3,2,4,5,6,7,9,8]
list

[5, 3, 2, 4, 5, 6, 7, 9, 8]

In [52]:
list.sort()#sorting means the order assending oreder small number to bigger number
list

[2, 3, 4, 5, 5, 6, 7, 8, 9]

In [51]:
# Pyhton code to demonstrate 
# sum of list of list using 
# zip and list comprehension 

# Declaring initial list of list 
List = [[1, 2, 3], 
		[4, 5, 6], 
		[7, 8, 9]] 
		
# Printing list of list 
print("Initial List : ", str(List)) 

# Using list comprehension 
res = [sum(i) for i in zip(*List)] #zip is a function using adding list data and astrisk (*)basically point to list
	
# printing result 
print("Final list : ", str(res))

Initial List :  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Final list :  [12, 15, 18]

In [50]:
# Pyhton code to demonstrate 
# sum of list of list 
# using numpy array functions 
import numpy as np 

# Declaring initial list of list 
List = np.array([[1, 2, 3], 
				[4, 5, 6], 
				[7, 8, 9]]) 
		
# Printing list of list 
print("Initial List : ", str(List)) 

# Using numpy sum 
res = np.sum(List, 0) 
	
# printing result 
print("Final list : ", str(res))

Initial List :  [[1 2 3]
 [4 5 6]
 [7 8 9]]
Final list :  [12 15 18]

In [62]:
Input: list1 = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
list2 = [ 0,   1,   1,    0,   1,   2,   2,   0,   1]

In [68]:
#Approach :

#1.Zip the two lists.
#2.Create a new, sorted list based on the zip using sorted().
#3.Using a list comprehension extract the first elements of each pair from the sorted, zipped list.
#Concept :

#The purpose of zip() is to map the similar index of multiple containers so that they can be used just using as single entity.

#Below is the implementation of above approach:

In [67]:
# Python program to sort 
# one list using 
# the other list 

def sort_list(list1, list2): 

	zipped_pairs = zip(list2, list1) 

	z = [x for _, x in sorted(zipped_pairs)] 
	
	return z 
	

# driver code 
x = ["a", "b", "c", "d", "e", "f", "g", "h", "i"] 
y = [ 0, 1, 1, 0, 1, 2, 2, 0, 1] 

print(sort_list(x, y)) 

x = ["g", "e", "e", "k", "s", "f", "o", "r", "g", "e", "e", "k", "s"] 
y = [ 0, 1, 1, 0, 1, 2, 2, 0, 1] 

print(sort_list(x, y))

['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']
['g', 'k', 'r', 'e', 'e', 'g', 's', 'f', 'o']

In [71]:
# Python3 program for demonstration 
# of list index() method 

# Random list having sublist and tuple also 
list1 = [1, 2, 3, [9, 8, 7], ('cat', 'bat')] 

# Will print the index of sublist [9, 8, 7] 
print(list1.index([9, 8, 7])) 

# Will print the index of tuple 
# ('cat', 'bat') inside list 
print(list1.index(('cat', 'bat')))

3
4

In [80]:
# Python program to demonstrate working 
# of len() 
a = [] 
a.append("Hello") 
a.append("Geeks") 
a.append("For") 
a.append("Geeks") 
print("The length of list is: ", len(a))

The length of list is:  4

In [81]:
a

['Hello', 'Geeks', 'For', 'Geeks']

In [84]:
a.sort()# assendeing order of set
a

['For', 'Geeks', 'Geeks', 'Hello']

In [85]:
# Python code to check for empty list 
# Explicit way 
def Enquiry(lis1): 
	if len(lis1) == 0: 
		return 0
	else: 
		return 1
		
# Driver Code 
lis1 = [] 
if Enquiry(lis1): 
	print ("The list is not empty") 
else: 
	print("Empty List")

Empty List

In [93]:
list=[[1,2,3],[1,2],[2,3,4],[4,5],[5,6,7]]
list.sort()
list

[[1, 2], [1, 2, 3], [2, 3, 4], [4, 5], [5, 6, 7]]

In [94]:
list=[1,2,3,'sam','maria']
len(list)

5

In [95]:
#Approch 1
# Python3 program to Find maximum 
# length list in a nested list 

def FindMaxLength(lst): 
	maxList = max((x) for x in lst) 
	maxLength = max(len(x) for x in lst ) 

	return maxList, maxLength 
	
# Driver Code 
lst = [['A'], ['A', 'B'], ['A', 'B', 'C']] 
print(FindMaxLength(lst))

(['A', 'B', 'C'], 3)

In [102]:
#Approach 1 : Using for loop (Naive)
#This is a brute force method in which we iterate through each list item(list) and find the list with maximum length. Similarly,
#we use the for loop to find length of each list and output the maximum length."
# Python3 program to Find maximum 
# length list in a nested list 

# Approach #2 : Using map
#In this method we use Python map function to iterate over the inner
#lists to create a list of lengths, then get the maximum with max function.

In [103]:
# Approch 2
# Python3 program to Find maximum 
# length list in a nested list 

def FindMaxLength(lst): 
	maxList = max(lst, key = len) 
	maxLength = max(map(len, lst)) 
	
	return maxList, maxLength 

# Driver Code 
lst = [['A'], ['A', 'B'], ['A', 'B', 'C'], ] 
print(FindMaxLength(lst))

(['A', 'B', 'C'], 3)

In [104]:
# Approach #3 : Using lambda operator
#One more method in Python to find the longest length list is the lambda operator. It is used for creating small, one-time and anonymous function objects in Python. Here we pass
#a variable i as argument in the len(i) expression and find the maximum length.
# Python3 program to Find maximum 
# length list in a nested list 

def FindMaxLength(lst): 
	maxList = max(lst, key = lambda i: len(i)) 
	maxLength = len(maxList) 
	
	return maxList, maxLength 
# Driver Code 
lst = [['A'], ['A', 'B'], ['A', 'B', 'C']] 
print(FindMaxLength(lst))

(['A', 'B', 'C'], 3)

In [110]:
# Python3 Program to count number of 
# list containing a certain element 
# in a list of lists 

def countList(lst, x): 
	count = 0
	for i in range(len(lst)): 
		if x in lst[i]: 
			count+= 1
		
	return count 
	
# Driver Code 
lst = (['a'], ['a', 'c', 'b'], ['d']) 
x = 'a'
print(countList(lst, x))

2

In [111]:
#Approach #2 : List comprehension (Alternative for naive)
#A simple one-liner list comprehension can also do the job by simply 
#converting the above mentioned Naive approach into one-liner for loop.
# Python3 Program to count number of 
# list containing a certain element 
# in a list of lists 

def countList(lst, x): 
	
	return sum(x in item for item in lst) 
	
# Driver Code 
lst = (['a'], ['a', 'c', 'b'], ['d']) 
x = 'a'
print(countList(lst, x))

2

In [115]:
list_1=[1,2,3,4,5]
print("The original list :"+ str(list_1))
k=2
res=list_1[k:None] # this line means k=2 index will start and rest of the part same
print("Slicing the list :" + str(res))

The original list :[1, 2, 3, 4, 5]
Slicing the list :[3, 4, 5]

In [1]:
#PYTHON THREE ELEMENT SUM
#Approch 1 Using nested loop

# Python3 code to demonstrate 
# 3 element sum 
# using nested loops 

# initializing list 
test_list = [4, 1, 3, 2, 6, 5] 

# initializing sum 
sum = 9

# printing original list 
print("The original list : " + str(test_list)) 

# using nested loops 
# 3 element sum 
res = [] 
for i in range(0, len(test_list)-2): 
	for j in range(i + 1, len(test_list)-1): 
		for k in range(j + 1, len(test_list)): 
			if test_list[i] + test_list[j] + test_list[k] == sum: 
				temp = [] 
				temp.append(test_list[i]) 
				temp.append(test_list[j]) 
				temp.append(test_list[k]) 
				res.append(tuple(temp)) 

# print result 
print("The 3 sum element list is : " + str(res))

The original list : [4, 1, 3, 2, 6, 5]
The 3 sum element list is : [(4, 3, 2), (1, 3, 5), (1, 2, 6)]

In [4]:
! python -V

Python 3.6.5 :: Anaconda, Inc.

In [5]:
list_num = [1,2,3,4]
tup_num = (1,2,3,4)
print(list_num)
print(tup_num)

[1, 2, 3, 4]
(1, 2, 3, 4)

# TUPLES PROBLEMS

In [6]:
def f(r):
    """ Return (circumference, area) of a circle of radius r """
    c = 2 * math.pi * r
    a = math.pi * r * r
    return (c, a)

In [15]:
a=["apple","grapes","banana"]
for element in a:
    print(element)
    print(element)

apple
apple
grapes
grapes
banana
banana

In [27]:
b=[10,20,30]
for e in b:#inside b  list is declare
    print(e)

10
20
30

In [24]:
b=[10,20,30]
total=0
for e in b:
    total=total+e
print(total)

60

In [28]:
c=list(range(1,5))# range1 to 4 value print 
print(c)

[1, 2, 3, 4]

In [36]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [40]:
total =0
for i in range(1,5):
    total+=i
print(total)

10

In [41]:
print(list(range(1,7)))

[1, 2, 3, 4, 5, 6]

In [10]:
a={'k1':1,'k2': [1,2,3],'k3':[2,3,4]}
a['k2']

[1, 2, 3]

In [7]:
2>1

True

In [9]:
2>=1

True

In [7]:
for i in range(0,10,2):
    if i%2==0:
        print("Even no")
    else:
        print("Odd no")

Even no
Even no
Even no
Even no
Even no

In [6]:
for i in range(0,10,2):# print 0 to 10 number even number
    if i%2==0:
        print("Even no")
        break
    else:
        print("Odd no")
        break

Even no

In [14]:
list=[i for i in range(1,50) if i%3==0]
print(list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [15]:
#fizz is print 3 time and buzz print 5 time and both are multiples 3 and 5 print fizzbuzz up

In [30]:
for i in range(5,101):
    if (i%3==0):#this is indentation start this point
        print("Fizz")#this is identation start this  
        
    elif (i%5==0):
        print("Buzz")
        
    elif (i%15==0):
        print("fizzbuzz")
        
    else:
        print(i)
        
    break#this is outer side loop and identation

Buzz

In [53]:
print("The sum= %d" %(12))#String formatting
print("Welcome to python %s :" %(13))
print("Print float number %.2f" %(3))

The sum= 12
Welcome to python 13 :
Print float number 3.00

# Capitalize

In [2]:
#Demo of capitalize
s='learning pyhton is fun!'#Returns a copy the string  only it's first character
 
print(s.capitalize())

Learning pyhton is fun!

In [3]:
#Title : Returns a copy of the string in which first character of all the words are capitalized.

# Max(str)

In [8]:
#Demo of max(str)
s='learning python is fun'
print('Maximum character is :',max(s))

Maximum character is : y

In [9]:
a=2,3,4,7
print(max(a))

7

In [10]:
print(min(a))

2

# Replace(old,new [max])

In [12]:
s='Today are very hot '
print(s.replace('are','is'))

Today is very hot

In [13]:
a='HELLO'
a.lower()

'hello'

In [14]:
a.upper()

'HELLO'

In [15]:
a.islower()

False

In [16]:
a='hello'
a.islower()#Because return value lower case so return value true

True

In [18]:
a.isupper()#Because string is lower case not upper case form

False

In [19]:
a="hello1234"
a.isdigit()

False

In [20]:
a="1234"
a.isdigit()#Returns the only digit not srtring return value

True

# isnumeric()

In [21]:
a=u"hello world"
a.isnumeric()

False

In [22]:
a=u"1234"
a.isnumeric()#is numeric basically return true if a unicode string contains only numeric characters and other wise false

True

# isspace()

In [23]:
a="hello world"
a.isspace()

False

In [24]:
a="  "
a.isspace()#space string value print true and without whitespace value false

True

# istitle()

In [27]:
a="Python Programming"#When sentence begins uppercase then value true otherwise false
a.istitle()

True

In [28]:
a="python programming"
a.istitle()

False

# expandtabs(tabsize=8)

In [29]:
a="\tpython  langauge is a scripting langauage"
a.expandtabs(5)

'     python  langauge is a scripting langauage'

In [31]:
print(a)

	python  langauge is a scripting langauage

In [32]:
a.expandtabs(10)

'          python  langauge is a scripting langauage'

# join(seq)

In [34]:
s="-"
seq=("python","programming")
print(s.join(seq))#join(seq) means joined by seperator

python-programming

In [39]:
s="**"
seq=("python","programming")
print(s.join(seq))

python**programming

# split()

In [40]:
s="python programming is fun"
print(s.split())#split return the list

['python', 'programming', 'is', 'fun']

In [45]:
s="python *programming*is fun"
print(s.split('*'))

['python ', 'programming', 'is fun']

In [49]:
s="python *programming*is* fun"
print(s.split('*',2))

['python ', 'programming', 'is* fun']

# splitlines()

In [53]:
s="python\n programming\n is fun"
print(s.splitlines())

['python', ' programming', ' is fun']

In [54]:
print(s.splitlines(2))

['python\n', ' programming\n', ' is fun']

# List

In [55]:
a=[1,2,3,4,5]
len(a)

5

In [57]:
list(a)

[1, 2, 3, 4, 5]

In [58]:
name=['hong','kong','kim','jon']
print(len(name))

4

In [59]:
list(name)

['hong', 'kong', 'kim', 'jon']

In [65]:
list1=[1,2,3,5]
list2=[2,5,6,7]
print("\nMaximum list1 value:",list1,max(list1))
print("\nMinimum list2 value :",list2,min(list2))

Maximum list1 value: [1, 2, 3, 5] 5

Minimum list2 value : [2, 5, 6, 7] 2

In [66]:
max(list1)

5

In [67]:
min(list2)

2

# list(seq)

In [69]:
tuple=("john","tom","marry")#list seq returns a tuple into a list
print(list(tuple))

['john', 'tom', 'marry']

In [70]:
a=[1,2,3,4,5,6]
a.append(7)

In [71]:
a

[1, 2, 3, 4, 5, 6, 7]

In [74]:
a.pop()

7

In [75]:
a

[1, 2, 3, 4, 5, 6]

In [76]:
a.pop()

6

In [77]:
a

[1, 2, 3, 4, 5]

In [83]:
list=['cs','c','ds','algo','dbms']
(list.remove('dbms'))
list

['cs', 'c', 'ds', 'algo']

# List index(ob)

In [85]:
list=['tom','sam','john']
list.index('sam')

1

In [86]:
list.index('john')

2

In [87]:
list.index('tom')

0

# list.sort()

In [88]:
list=[3,4,5,2,1]
print("List before sorting :",list)
list.sort()

List before sorting : [3, 4, 5, 2, 1]

In [92]:
print("List after sorting :",list)
list.sort()

List after sorting : [1, 2, 3, 4, 5]

In [93]:
print("List after sorting in assending :",list)
list.sort()

List after sorting in assending : [1, 2, 3, 4, 5]

# list .clear

# Stack and Queue operation
#clear :Remove all items inside list

In [98]:
stack=[10,20,30,40,50]#Stack is data structure using operation lifo means the item push and pop
stack.append(60)
print("Stack after appending:",stack)
stack.pop()
print("Stack after poping :",stack)

Stack after appending: [10, 20, 30, 40, 50, 60]
Stack after poping : [10, 20, 30, 40, 50]

In [115]:
from collections import deque
queue=deque(['apple','orange','grapes'])
print(queue)

deque(['apple', 'orange', 'grapes'])

In [116]:
queue.popleft()#Queue means fifo principle on work like  first push  and first pop items

'apple'

In [117]:
queue# remaing  items inside list

deque(['orange', 'grapes'])

In [118]:
queue.popleft()# 2nd item pop

'orange'

In [119]:
queue# remaining item

deque(['grapes'])

# tuple

In [120]:
t=([1,2,3],['apple','orange','fig'])
t

([1, 2, 3], ['apple', 'orange', 'fig'])

In [121]:
t="apple",1,100
t

('apple', 1, 100)

# set

In [3]:
s1={1,2,3,4}
print(s1)
s2={1,2,3,2,1,2}
print(s2)
s3={1,2,4,'apple','tom',3}
print(s3)
s4={1,2,[3,4]}#sets cannot have mutable items
#print s4 # hence not permitted
s5={[1,2,3,4,5]}#usin

{1, 2, 3, 4}
{1, 2, 3}
{1, 2, 3, 4, 'tom', 'apple'}

In [1]:
set={'john','harry','sam','tom'}
len(set)

4

In [2]:
a=[0,1,2,4,5]
len(a)

5

# Enumerate(set)

In [3]:
# Returns an enumerate object it contains the index and value of all the items of set as a pair
set={213,100,289,40,23,1,1000}
print("enumerate(set):",enumerate(set))

enumerate(set): <enumerate object at 0x0000028DEBFDD168>

# any(set)

In [28]:
#returns true ,if the set contains at least one item ,false other wise.
set1=()
set2={1,2,3,4}
print("any(set):",any(set1))
print("any(set):",any(set2))

any(set): False
any(set): True

In [29]:
#returns true ,if the set contains at least one item ,false other wise.
set1=set()
set2={1,2,3,4}
print("any(set):",any(set1))
print("any(set):",any(set2))

TypeError: 'list' object is not callable

# all(set)

In [30]:
#Returns true ,if all the elements are true or the set true or the set is empty
set1=()
set2={1,2,3,4}
print("all(set): ", all(set1))
print("all(set): ", all(set1))

all(set):  True
all(set):  True

In [36]:
set=[1,2,3,4,5,6,7,8]
del set[0]

In [37]:
set

[2, 3, 4, 5, 6, 7, 8]

In [38]:
set.pop()#pop either index through or empty parenthese or round braket()

8

In [32]:
set.pop(0)

2

# remove key using either list or set not use tuple because tuple is mutable not changes

In [40]:
set={1,2,3,4,5,6,7}
set.remove(7)

In [41]:
set

{1, 2, 3, 4, 5, 6}

In [42]:
num=[1,2,3,4,5,6,7]
num.remove(7)
num

[1, 2, 3, 4, 5, 6]

In [45]:
#num=(1,2,3,4,5,6,7)#tuple is a mutalble so tuple value not change not use remove key and pop key not use in tuple 
#num.remove(6)
#num

# set.discard(obj)

In [47]:
#discard means removes an element obj from the set.nothing happens if the element to be deleted is not in the set.
set1={3,8,2,6}
set1.discard(8)#element present in side the set
set1

{2, 3, 6}

In [49]:
set1.discard(9)#because not present inside set so previous result print
set1

{2, 3, 6}

# set.update(set2)

In [50]:
set1={3,8,2,6}
print("set1:",set1)
set2={4,2,1,9}
print("set2:",set2)
set1.update(set2)#unique value will be taken
print("update method:",set1)

set1: {8, 2, 3, 6}
set2: {1, 2, 4, 9}
update method: {1, 2, 3, 4, 6, 8, 9}

# set.intersection(set2)

In [55]:
set1={3,8,2,6}
print("set1:",set1)
set2={4,2,1,9}
print("set2:",set2)
set3=set1.intersection(set2)
print("intersection",set3)

set1: {8, 2, 3, 6}
set2: {1, 2, 4, 9}
intersection {2}

# len(dict)

In [62]:
#Gives the length of the dictionary
dict1={'Name':'TOm','Age':20}
print(dict1)
print("Length of Dictionary=",len(dict1))

{'Name': 'TOm', 'Age': 20}
Length of Dictionary= 2

# dict.clear()

In [63]:
dict1.clear

In [64]:
dict1

{'Name': 'TOm', 'Age': 20}

In [65]:
dict1={'Name':'TOm','Age':20}
print(dict1.clear())
print(dict1)

None
{}

# dict.copy

In [66]:
dict1={'Name':'TOm','Age':20,'Height':160}
print(dict1)
dict2=dict1.copy()
print(dict2)

{'Name': 'TOm', 'Age': 20, 'Height': 160}
{'Name': 'TOm', 'Age': 20, 'Height': 160}

# dict.keys()

In [71]:
dict1={'Name':'TOm','Age':20,'Height':160}
print(dict1)
print("Keys in Dictionary:",dict1.keys())#Returns a list of keys in dictionary dict.(asically name,age and height are keys)

{'Name': 'TOm', 'Age': 20, 'Height': 160}
Keys in Dictionary: dict_keys(['Name', 'Age', 'Height'])

# dict.values()

In [73]:
dict1={'Name':'TOm','Age':20,'Height':160}
dict1.values()

dict_values(['TOm', 20, 160])

# dict.items()

In [75]:
#it's very imp concept for python
#Returns a list of dictionary dict's (key,value) tuple pairs.
dict1={'Name':'TOm','Age':20,'Height':160}
print(dict1)
print("Items in dictionary : " ,dict1.items())

{'Name': 'TOm', 'Age': 20, 'Height': 160}
Items in dictionary :  dict_items([('Name', 'TOm'), ('Age', 20), ('Height', 160)])